.enjoy {
  background-image: url(./assets/images/img-hero.png);
  width: 100%;
  height: 644px;
  padding: 100px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}