.tabs__image {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light);
  border-radius: 100px;
  border: 1px solid var(--border-light);
}