/* @import url(./vendor/normalize.css); */
@import url(./vendor/fonts/fonts.css);
@import url(./styles/variables/global.css);
@import url(./styles/reset.css);

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-body);
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 20px 40px 40px;
  background-color: var(--bg-body);
  margin: 0 auto;
}
.link {
  display: block;
  text-decoration: none;
  color: var(--text-dark);
}
.link-non-active {
  cursor: default;
}
main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.header {
  display: grid;
  grid-template-columns: 100px 1fr 72px;
  align-items: center;
  font: var(--font-m);
  font-weight: var(--font-weight-bold);
  color: var(--text-dark);
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 60px;
  display: block;
}
.nav__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  list-style: none;
}
.header__menu {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-cup {
  background-image: url(./assets/icons/coffee-cup.svg);
  width: 20px;
  height: 20px;
}

.enjoy {
  background-image: url(./assets/images/img-hero.png);
  width: 100%;
  height: 644px;
  padding: 100px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.enjoy__container {
  display: flex;
  width: 530px;
  flex-direction: column;
  gap: 40px;
}

.heading-1 {
  font: var(--font-1);
  font-weight: var(--font-weight-bold);
  color: var(--text-light);
  font-feature-settings: "clig" off, "liga" off;
  align-self: stretch;
}

.heading-2_menu {
  color: var(--text-dark);
  max-width: 800px;
  width: 100%;
}
.enjoy__text {
  font: var(--font-m);
  font-weight: var(--font-weight-normal);
  color: var(--text-light);
}
.button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background-color: var(--bg-body);
  color: var(--text-dark);
  font: var(--font-button);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}
.button_menu {
  border: none;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.button_menu span {
  position: relative;
  left: 14px;
  transition: left 0.3s ease-in;
}
.button_menu:hover span {
  left: 0;
  transition: left 0.3s ease-in;
}

.button_menu .header-cup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s ease-in;
}
.button_menu:hover .header-cup {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.span-title {
  font-style: italic;
  color: var(--text-assent);
}
.favorite-coffee {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.heading-2 {
  font: var(--font-2);
  font-weight: var(--font-weight-bold);
  color: var(--text-dark);
}

.favorite-coffee__image {
  width: 480px;
  height: 480px;
  margin-bottom: 20px;
}

.favorite-coffee__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 480px;
}
.heading-3 {
  font: var(--font-3);
  font-weight: var(--font-weight-bold);
  color: var(--text-dark);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
}
.section-text {
  font: var(--font-m);
  font-weight: var(--font-weight-normal);
  color: var(--text-dark);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
}

.favorite-coffee__price {
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font: var(--font-3);
  font-weight: var(--font-weight-bold);
}
.slider-container {
  width: 100%;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  /* grid-template-rows: ; */
  gap: 40px;
  justify-items: center;
}
.arrow-button {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  align-self: center;
  display: flex;
  transition: background-color 0.5s ease-out;
}
.arrow-icon {
  width: 24px;
  height: 24px;
  margin: auto;
  background-color: var(--bg-body);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 0.5s ease-out;
}

.arrow-button:hover {
  background-color: var(--bg-container);
  transition: background-color 0.5s ease-out;
}
.arrow-button:hover .arrow-icon {
  background-color: var(--bg-container);
  transition: background-color 0.5s ease-out;
}

.arrow-icon_left {
  background-image: url(./assets/icons/arrow-left.svg);
}

.arrow-button:hover .arrow-icon_left {
  background-image: url(./assets/icons/arrow-left_hover.svg);
}

.arrow-icon_right {
  background-image: url(./assets/icons/arrow-right.svg);
}
.arrow-button:hover .arrow-icon_right {
  background-image: url(./assets/icons/arrow-right_hover.svg);
}

.controls {
  display: flex;
  width: 144px;
  gap: 12px;
}
.control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-light);
}

.control_active {
  background: var(--border-dark);
}
.apps {
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
}
.apps__foto {
  width: 100%;
}

.apps__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.apps__buttons {
  display: flex;
  gap: 20px;
}

.apps__paragrath {
  text-align: start;
}

.button_app {
  border: 1px solid var(--border-dark);
  background-color: var(--bg-body);
  padding: 12px 20px;
  transition: border 0.5s ease-out, background-color 0.5s ease-out, color 0.5s ease-out;
}

.button_app:hover {
  border: 1px solid var(--bg-container);
  background-color: var(--bg-container);
  color: var(--text-light);
  transition: border 0.5s ease-out, background-color 0.5s ease-out, color 0.5s ease-out;
}

.button__text {
  display: flex;
  gap: 8px;
  font: var(--font-s);
  font-weight: var(--font-weight-bold);
}

.button_app:hover .button__text {
  color: var(--text-light);
}

.apps-logo {
  width: 36px;
  height: 36px;
}
.apps-logo_apple {
  background-image: url(./assets/icons/apple.svg);
}

.button_app:hover .apps-logo_apple {
  background-image: url(./assets/icons/apple_light.svg);
}

.apps-logo_android {
  background-image: url(../src/assets/icons/android.svg);
}

.button_app:hover .apps-logo_android {
  background-image: url(../src/assets/icons/android_light.svg);
}

.button-name {
  width: 77px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.button-name span {
  font: var(--font-m);
  font-weight: var(--font-weight-bold);
}
.button-name_android {
  width: 92px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px;
  gap: 100px;
  border-radius: 40px;
  background: var(--bg-container);
  margin-top: 100px;
}
.footer__block {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.footer__heading {
  color: var(--text-light);
  font-feature-settings: "clig" off, "liga" off;
  font-weight: var(--font-weight-bold);
}
.cosial-links {
  display: flex;
  gap: 12px;
}
.cosial-link {
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--border-light);
  border-radius: 100px;
  transition: background-color 0.5s ease-out;
}
.cosial-button {
  width: 60px;
  height: 60px;
  display: flex;
}

.cosial-link:hover {
  background-color: var(--bg-body);
  transition: background-color 0.5s ease-out;
}

.cosial-link:first-of-type {
  background-image: url(./assets/icons/twitter.svg);
}
.cosial-link:first-of-type:hover {
  background-image: url(./assets/icons/twitter_dark.svg);
}

.cosial-link:nth-of-type(2) {
  background-image: url(./assets/icons/instagram.svg);
}

.cosial-link:nth-of-type(2):hover {
  background-image: url(./assets/icons/instagram_dark.svg);
}

.cosial-link:nth-of-type(3) {
  background-image: url(./assets/icons/facebook.svg);
}
.cosial-link:nth-of-type(3):hover {
  background-image: url(./assets/icons/facebook_dark.svg);
}

.contact-us {
  padding: 30px 0;
  display: flex;
  gap: 40px;
}
.contact-us__heading {
  color: var(--text-light);
  text-align: left;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.contact-item {
  display: flex;
  gap: 8px;
}

.contact-item__text {
  font: var(--font-m);
  font-weight: var(--font-weight-bold);
  color: var(--text-light);
  font-feature-settings: "clig" off, "liga" off;
}
.contact-item__icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.geo {
  background-image: url(./assets/icons/pin-alt.svg);
}
.phone {
  background-image: url(./assets/icons/phone.svg);
}
.clock {
  background-image: url(./assets/icons/clock.svg);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.about__column {
  display: grid;
  gap: 40px;
}
.about__column_1 {
  grid-template-rows: 590px 430px;
}
.about__column_2 {
  grid-template-rows: 430px 590px;
}
.about__image-container {
  overflow: hidden;
  border-radius: 20px;
}
.about__image-container_1 {
  width: 660px;
  height: 590px;
}
.about__image-container_2 {
  width: 660px;
  height: 430px;
}

.about__image {
  width: 726px;
  height: 726px;
  border-radius: 20px;
  position: relative;
  transform: scale(1);
  transition: transform 0.5s ease-out;
  right: 33px;
}

.about__image:hover {
  transform: scale(0.9);
  transition: transform 0.5s ease-out;
}
.about__image_1 {
  bottom: 68px;
}
.about__image_2 {
  bottom: 148px;
}

/* menu */
.header__menu_active {
  border-bottom: 2px solid var(--text-dark);
  padding-bottom: 3px;
}

.nav-item {
  position: relative;
}
.nav-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--text-dark);
  transform: scaleX(0);
  transition: transform 0.5s ease-out;
}

.nav-item:hover::before {
  transform: scaleX(1);
}
.nav-light {
  position: relative;
}

.nav-light::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--text-light);
  transform: scaleX(0);
  transition: transform 0.5s ease-out;
}

.nav-light:hover::before {
  transform: scaleX(1);
}

.menu-coffee {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
}

.tabs {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.tabs__item {
  padding: 8px 16px 8px 8px;
  display: flex;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
  cursor: pointer;
}

.tabs__item:hover {
  background-color: var(--bg-container);
  border-color: var(--bg-container);
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
}

.tabs__item_active {
  background-color: var(--bg-container);
  border-color: var(--bg-container);
  cursor: default;
}

.tabs__image {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light);
  border-radius: 100px;
  border: 1px solid var(--border-light);
}
.tabs__item_active .tabs__image {
  background: var(--bg-body);
}

.tabs__item:hover .tabs__image {
  background-color: var(--bg-body);
  transition: background-color 0.5s ease-out;
}

.button-text {
  font: var(--font-button);
  color: var(--text-dark);
  font-weight: var(--font-weight-bold);
  transition: color 0.5s ease-out;
}
.tabs__item_active .button-text {
  color: var(--text-light);
}

.tabs__item:hover .button-text {
  color: var(--text-light);
  transition: color 0.5s ease-out;
}

.tabs__icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 24px;
}
.tabs__icon_coffee {
  background-image: url(./assets/icons/coffee.svg);
}
.tabs__icon_tea {
  background-image: url(./assets/icons/tea.svg);
}
.tabs__icon_dessert {
  background-image: url(./assets/icons/dessert.svg);
}

.drinks-list {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4, 310px);
  grid-template-rows: repeat(2, 506px);
  gap: 40px;
}
.drink-card {
  border-radius: 40px;
  border: 1px solid var(--border-light);
}

.drink-card__foto {
  width: 310px;
  height: 310px;
  overflow: hidden;
  border-radius: 40px;
}

.drink-card__image {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
.drink-card:hover .drink-card__image {
  transform: scale(1);
  transition: transform 0.5s ease-out;
}

.drink-card__description {
  height: 190px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.drink-card__about {
  display: flex;
  flex-direction: column;
  padding: auto;
  gap: 12px;
  align-items: flex-start;
}

.drink-card__name {
  font-weight: var(--font-weight-bold);
}

.drink-card__text {
  font: var(--font-m);
  font-weight: var(--font-weight-normal);
  text-align: left;
}
.drink-card__price {
  font-weight: var(--font-weight-bold);
}
